@import "tailwindcss";

@theme {
  /* Nosso Verde Natureza Tech e Glassmorphism pro Tailwind V4 */
  --color-synx: #10b981;
  --color-synx-hover: #059669;
  --color-glass-base: rgba(255, 255, 255, 0.03);
  --color-glass-border: rgba(255, 255, 255, 0.08);
}

:root {
  --background: #09090b;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass-panel {
  background: var(--color-glass-base);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-glass-border);
}